body {
  width: 760px;
  font-size: 10px;
  margin-left: 20px;
  margin-right: 20px;
}
.kneeboard {
  padding-top: 20px;
}

/* PADDING */

.lp5 { padding-left: 5px; }
.rp5 { padding-right: 5px; }

.lb2 { border-left: 2px solid #777777; }
.rb2 { border-right: 2px solid #777777; }

.break{ height: 10px; }

/* TABLE STYLES */
table {
  border-top: 1px solid #777777;
}

td {
  border: 1px solid #777777;
}

tr {
  height: 19px;
}

tr.header {
  height: 18px;
}

.arotate90 {
  font-size: 11px;
  transform: rotate(-90deg) translateY(-70px);
  -moz-transform: rotate(-90.0deg) translateY(-70px);
  -o-transform: rotate(-90.0deg) translateY(-70px);
  -webkit-transform: rotate(-90.0deg) translateY(-70px);
  width: 150px;
}

th {
  font-size: 10px;
  border: 1px solid #777777;
}
