
//p {
  //font-family: "Roboto Mono CourierPrime Numbers";
//}

.kneeboard table {
  border-top: 0.5px solid #777777;
}

.kneeboard td {
  border: 0.5px solid #777777;
}

.kneeboard th,
.kneeboard th textarea,
.kneeboard th input {
  border: 0.5px solid #777777;
}

.rb2 {
  border-right: 1px solid #777777;
}

.break{
  height: 11px;
}
