body {
  width: 760pt;
  font-family: "Roboto Mono CourierPrime Numbers";
  font-style: normal;
  font-weight: normal;
  font-size: 10pt;
  margin-top: 0;
  padding-top: 0;
  margin-left: 20pt;
  margin-right: 20pt;
}

.kneeboard {
  padding-top: 20pt;
}

.kb-width { width: 100%; }

/* PADDING */

.lp5 { padding-left: 5pt; }
.rp5 { padding-right: 5pt; }

.lb2 { border-left: 2pt solid #777777; }
.rb2 { border-right: 2pt solid #777777; }

.rb0 { border-right: 0; }
.lb0 { border-left: 0; }

.break{ height: 10pt; }

.new-page { page-break-before: always; }

/* TEXT STYLES */

.text-bold { font-weight: bold; }
.text-center { text-align: center; }
.text-right { text-align: right; }

/* TABLE STYLES */

table {
  border-collapse: collapse;
  border: 0;
  border-top: 1pt solid #777777;
}

td {
  border: 1pt solid #777777;
}

tr {
  background: #262626;
  height: 19pt;
}

tr.header {
  height: 18pt;
}

.arotate90 {
  font-weight: bold;
  font-size: 11pt;
  line-height: 1;
  vertical-align: bottom;
  text-align: center;
  transform: rotate(-90deg) translateY(-69pt);
  -moz-transform: rotate(-90.0deg) translateY(-69pt);
  -o-transform: rotate(-90.0deg) translateY(-69pt);
  -webkit-transform: rotate(-90.0deg) translateY(-69pt);
  width: 150pt;
}

th {
  font-weight: normal;
  background: #777777;
  color: #ffffff;
  font-size: 10pt;
  border: 1pt solid #777777;
}


tr:nth-child(odd)
{
  background: #363636;
}

tr:nth-child(odd) th {
  background: #777777;
}

.bg-blank {
  background: #fefefe;
}
