body {
  width: 780px;
  font-size: 17px;
  line-height: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

/* PADDING */

.lp2 { padding-left: 2px; }
.rp2 { padding-right: 2px; }

.lp5 { padding-left: 5px; }
.rp5 { padding-right: 5px; }
.rp2 { padding-right: 2px; }

.lb2 { border-left: 2px solid #000000 !important; }
.rb2 { border-right: 2px solid #000000 !important; }
.bb2 { border-bottom: 2px solid #000000 !important; }

.pt3 { padding-top: 3px; }
.bb3 { border-bottom: 3px solid #000000 !important; }

.break{ height: 10px; }

/* TEXT STYLES */

.text-pst { font-size: 13px; }
.text-harm { font-size: 12px; }

/* TABLE STYLES */

table.std td {
  border: 1px solid #000000;
  line-height: normal;
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
}

table.std tr {
  height: 19px;
}

table.std tr.header {
  height: 18px;
}

table.std-header th,
table.std td.header,
table.std th {
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  border: 1px solid #000000;
}

table.std td.header {
  border-bottom: 2px solid #000000;
}
