<%
# Header 20
# Table Head 19
# Table Row 21
# Section Spacing 10

import math

table_head = 21
table_row_height = 19

def ntos(n):
  # Get number of DPs
  if not n:
    return ''
  try:
    dp = len(str(n).split('.')[1])
  except:
    dp = 0
  return '{:,.{prec}f}'.format(float(n), prec=dp)

def get(lst, idx, default=None):
  try:
    return lst[idx]
  except (IndexError, KeyError):
    return default

def ll(info, lat=True):

  if not info:
    return ""

  prefix = 'lat' if lat else 'lon'

  if prefix not in info:
    return "&nbsp;"

  try:
    pos = float(info[prefix])
  except Exception as e:
    return info 

  if lat:
      axis = "N" if pos > 0 else "S"
      pad = 2
  else:
      axis = "E" if pos > 0 else "W"
      pad = 3

  # Get Coordinate Format
  coord = info.get(f"{prefix}_fmt", data['flight']['flight-coord'])
  decimals = int(info.get(f"{prefix}_dmp", data['flight']["flight-coord-decimals"]))

  dec_width = 2 + decimals
  if (decimals):
      dec_width += 1

  if coord == 'dd':
    return "{0:.{prec}f}".format(pos, prec=decimals)

  work = abs(pos)
  deg = math.floor(work)

  work -= deg
  work *= 60

  if coord == "ddm":
    return "{} {:0{dpad}d}&deg; {:0{swidth}.{precision}f}'".format(
        axis,
        deg,
        work,
        dpad=pad,
        swidth=dec_width,
        precision=decimals,
    )

  min = math.floor(work)
  work -= min
  work *= 60

  sec = round(work, decimals)

  if sec == 60:
    sec = 0
    min += 1

  if min == 60:
    min = 0
    deg += 1

  return "{} {:0{dpad}d}&deg;{:02d}'{:0{swidth}.{precision}f}\"".format(
      axis,
      deg,
      min,
      sec,
      swidth=dec_width,
      dpad=pad,
      precision=decimals,
  )

def alt_formatter(alt):
  alt = int(alt)
  if alt > int(data['waypoint']['transition-alt']):
    return 'FL%s' % int(alt/100)
  return str(int(alt))

def lat_formatter(info):
  return ll(info, True)

def lon_formatter(info):
  return ll(info, False)

data = context['data']
package = data['package']['package-member'] != 'package-false'
ac = data['flight']['flight-airframe']

y_remain = 1200

# Flight Members is variable columns...which sucks to map between, so we have:
# [Title, Col Width, Style]

flight_cols = [
  ["#", 30, "algnc"],
  ["PILOT", 240, "lpad5"],
]

if ac == "F-14B":
  flight_cols[1][1] /= 2;
  flight_cols.append(
    ['RIO', 120, "lpad5"])

if ac in ["F-14B", "FA-18C"]:
  flight_cols.append(['BORT', 40, "algnc"])

if ac == "A-10C":
  flight_cols.extend([
    ['GID', 40, "algnc"],
    ['OID', 40, "algnc"]])

flight_cols.extend([
  ['TCN', 40, "algnc"],
  ['LSR', 40, "algnc"],
  ['SQUAWK', 50, "algnc"],
  ['NOTES', 0, "lpad5"]])

%><!DOCTYPE html>
<head>
  <title>${data['mission']['mission-id']}</title>
  <link rel="stylesheet" type="text/css" href="css/fonts.css">
  <link rel="stylesheet" type="text/css" href="css/Standard-base.css">
  <link rel="stylesheet" type="text/css" href="css/${theme}.css">
</head>
<body>

  % if output in ['png', 'pngr', 'raw']:
  <div class="kneeboard kneeboard-fixed">
  % else:
  <div class="kneeboard">
  % endif

    ## ##########################################################################
    ## HEADING TABLE
    ## ##########################################################################
    <% y_remain = 1200 - 40 %>
    <% y_remain -= table_head + table_row_height %>
    <table class="kb-width" style="table-layout: fixed">

      <colgroup>
        <col style="width: 115pt" />
        <col style="width: 70pt" />
        <col style="width: 70pt" />
        % if package:
        <col style="width: 60pt" />
        % endif
        <col />
        <col style="width: 60pt" />
      </colgroup>

      <tbody>

        <tr>
          <th>CALLSIGN</th>
          <th>PRI</th>
          <th>SEC</th>

          % if package:
          <th>PACKAGE</th>
          % endif
          <th>MISSION</th>
          <th>ID</th>
        </tr>
        
        <tr>
          <td class="algnc">${data['mission']['mission-callsign']}</td>
          <td class="freq">${data['mission']['mission-pri-freq']}</td>
          <td class="freq">${data['mission']['mission-sec-freq']}</td>
          % if package:
          <td class="algnc">${data['package']['package-name']}</td>
          % endif
          <td class="lpad5">${data["mission"]['mission-desc']}</td>
          <td class="algnc">${data["mission"]['mission-id']}</td>
        </tr>
      </tbody>
    </table>


    <% y_remain -= 10 %>
    <div class="break"></div>

    ## ##########################################################################
    ## FLIGHT TABLE
    ## ##########################################################################
    <% y_remain -= table_head %>
    <table class="kb-width" style="table-layout: fixed">

      <colgroup>
        <col class="rb2" style="width: 15pt;" />
        % for col in flight_cols:
        <col ${ 'style="width: %spt"' % col[1] if col[1] else '' } />
        % endfor
      </colgroup>

      <tbody>

        <tr>
          <th></th>
          % for col in flight_cols:
          <th>${ col[0] }</th>
          % endfor
        </tr>

        % for n in range(4):
        <% y_remain -= table_row_height %>
        <tr>
          % if n == 0:
          <th rowspan=4 class="block-title"><div style="width: 15pt"><div class="arotate90">FLIGHT</div></div></th>
          % endif

          <% elem = get(data['flight']['members'], n) %>
          % for col in flight_cols:
          <td ${ 'class="%s"' % col[2] if (col[2] != "") else "" }>${elem[col[0].lower() if col[0] != "#" else "id"] if elem else "&nbsp;" }</td>
          % endfor 

        </tr>
        % endfor
      </tbody>
    </table>

    <% y_remain -= 10 %>
    <div class="break"></div>


    ## ##########################################################################
    ## DEP / ARR
    ## ##########################################################################

    <% y_remain -= table_head %>
    <table class="kb-width" style="table-layout: fixed">

      <colgroup>
        <col class="rb2" class="rb2" style="width: 15pt" />
        <col style="width: 30pt" />
        <col />
        <col style="width:40pt" />
        <col style="width:40pt" />

        <col style="width:50pt" />
        <col class="rb2" style="width:45pt" />

        <col style="width:50pt" />
        <col class="rb2" style="width:45pt" />

        <col style="width:50pt" />
        <col class="rb2" style="width:45pt" />

        <col style="width:50pt" />
        <col class="rb2" style="width:45pt" />

        <col style="width:55pt" />
      </colgroup>

      <tbody>

        <tr class="nodrag header">
          <th></th>
          <th></th>
          <th>LOCATION</th>
          <th>ICAO</th>
          <th>TCN</th>
          <th colspan=2>ATIS</th>
          <th colspan=2>GND</th>
          <th colspan=2>TWR</th>
          <th colspan=2>CTRL</th>
          <th>PAR</th>
        </tr>
        
        % for a in ['dep', 'arr', 'alt']:
        <%
          y_remain -= table_row_height
          elem = data['deparr'][a]
          if get(elem, 'usedep', False):
            elem = data['deparr']['dep']
        %>
        <tr>
          % if loop.index == 0:
          <th rowspan=3 class="block-title"><div style="width: 15pt"><div class="arotate90">DEP/ARR</div></div></th>
          % endif
          <td class="algnc">${a.upper()}</td>
          <td class="lpad5">${get(elem, 'location')}</td>
          <td class="algnc">${get(elem, 'icao')}</td>
          <td class="freq">${get(elem, 'tcn')}</td>

          <td class="freq rb0">${get(elem, 'atis')}</td>
          <td class="algnc lb0">${get(elem, 'atis-pst')}</td>

          <td class="freq rb0">${get(elem, 'gnd')}</td>
          <td class="algnc lb0">${get(elem, 'gnd-pst')}</td>

          <td class="freq rb0">${get(elem, 'twr')}</td>
          <td class="algnc lb0">${get(elem, 'twr-pst')}</td>

          <td class="freq rb0">${get(elem, 'ctrl')}</td>
          <td class="algnc lb0">${get(elem, 'ctrl-pst')}</td>

          <td class="freq">${get(elem, 'par', '')}</td>

        </tr>
        % endfor
      </tbody>
    </table>

    <% y_remain -= 10 %>
    <div class="break"></div>

    ## ##########################################################################
    ## LOADOUT
    ## ##########################################################################

    <% y_remain -= table_head %>
    <table class="kb-width" style="table-layout: fixed; border:0px">
      <colgroup>
        <col class="rb2" style="width: 15pt;" />
        <col style="width:40pt" />
        <col />
        <col style="width:60pt" />
        <col style="width:60pt" />
        <col style="width:60pt" />
        <col style="width:60pt" />
        <col style="width:60pt" />
        <col style="width:60pt" />
      </colgroup>

      <tbody>
        <tr>
          <th></th>
          <th colspan=3>PYLONS</th>
          <th colspan=2>OTHER</th>
          <th colspan=3>WEIGHT</th>
        </tr>

        <%
          count = max(9, len(data['loadout']['pylons']))
        %>

        % for elem in range(count):
        <%
        y_remain -= table_row_height
        elem = get(data['loadout']['pylons'], elem, {})
        %>
        <tr style="border:0">

          % if loop.index == 0:
            <th rowspan="${count}" class="block-title"><div style="width: 15pt"><div class="arotate90">PAYLOAD / CMS</div></div></th>
          % endif

          <%
            pyl_store = get(elem, 'store', '') 
            pyl_weight = get(elem, 'weight', 0)
            if not pyl_store:
              pyl_weight = ''
          %>
          <td class="algnc">${get(elem, 'pyl', '')}</td>
          <td class="lpad5" style="overflow:hidden; white-space: nowrap">${pyl_store}</td>
          <td class="algnr rpad5 rb2">${pyl_weight|ntos}</td>

          % if loop.index == 0:
            <td class="algnc">GUN</td>
            <td class="algnc rb2"><b>${data['loadout']['gun']}%</b></td>
            <td class="lpad5">EMPTY</td>
            <td class="algnr rpad5" colspan=2>${data['loadout']['weights']['oew']|ntos}</td>
          % elif loop.index == 1:
            <td class="algnc">FUEL</td>
            <td class="algnc rb2"><b>${data['loadout']['fuel']}%</b></td>
            <td class="lpad5">STORES</td>
            <td class="algnr rpad5" colspan=2>${(data['loadout']['weights']['stores'] + int(data['loadout']['gun_lbs']))|ntos}</td>
          % elif loop.index == 2:
            <td class="algnc">CHAFF</td>
            <td class="algnc rb2">${data['loadout']['chaff']|ntos}</td>
            <td class="lpad5">FUEL</td>
            <td class="algnr rpad5" colspan="2">${data['loadout']['fuel_lbs']|ntos}</td>
          % elif loop.index == 3:
            <td class="algnc">FLARE</td>
            <td class="algnc rb2">${data['loadout']['flare']|ntos}</td>
            <td class="lpad5"><b>TOTAL</b></td>
            <td class="algnr rpad5" colspan=2><b>${data['loadout']['weights']['total']|ntos}</b></td>
          % elif loop.index == 4:
            <td class="algnc">JOKER</td>
            <td class="algnc rb2">${data['loadout']['joker']|ntos}</td>
            <td class="bg-blank" colspan=3 rowspan=1 style="border:0;"></td>
          % elif loop.index == 5:
            <td class="algnc">BINGO</td>
            <td class="algnc rb2">${data['loadout']['bingo']|ntos}</td>
            <td class="bg-blank" colspan=3 rowspan=1 style="border:0;"></td>
          % elif loop.index == 6:
            <td class="bg-blank" style="border:0" colspan=2 rowspan=${count-9} class="lb2"></td>
            <td class="bg-blank" style="border:0" colspan=3 rowspan=${count-9} class="lb2"></td>
          % elif loop.index == count-3:
          ## % elif loop.index == 7:
            <td class="bg-blank" style="border:0" colspan=2 rowspan=3 class="lb2"></td>
            <th class="algnc lb2"></th>
            % if 'mtow_cvn' in data['loadout']['weights']:
            <th class="algnc">FIELD</th>
            <th class="algnc">CVN</th>
            % else:
            <th colspan=2 class="algnc">FIELD</th>
            % endif
          % elif loop.index == count-2:
          ## % elif loop.index == 8:
            <th class="algnc lb2">MAX T/O</th>
            % if 'mtow_cvn' in data['loadout']['weights']:
            <td class="algnr rpad5">${data['loadout']['weights']['mtow_field']|ntos}</td>
            <td class="algnr rpad5">${data['loadout']['weights']['mtow_cvn']|ntos}</td>
            % else:
            <td colspan=2 class="algnr rpad5">${data['loadout']['weights']['mtow_field']|ntos}</td>
            % endif
          ## % elif loop.index == 9:
          % elif loop.index == count-1:
            <th class="algnc lb2">MAX LDG</th>
            % if 'mtow_cvn' in data['loadout']['weights']:
            <td class="algnr rpad5">${data['loadout']['weights']['mlw_field']|ntos}</td>
            <td class="algnr rpad5">${data['loadout']['weights']['mlw_cvn']|ntos}</td>
            % else:
            <td colspan=2 class="algnr rpad5">${data['loadout']['weights']['mlw_field']|ntos}</td>
            % endif
          % endif

        </tr>
        % endfor

      </tbody>
    </table>
    
    <% y_remain -= 10 %>
    <div class="break"></div>

    ## ##########################################################################
    ## BULLS / RAMROD
    ## ##########################################################################

    <% y_remain -= table_head + table_row_height  %>
    <div style="overflow: auto">
      <div style="float: left; width: 49%;">
        <table style="width: 100%; table-layout: fixed">
          <colgroup>
            <col  />
            <col style="width:125pt"/>
            <col style="width:125pt"/>
          </colgroup>

          <tbody>
            <tr>
              <th colspan=3>BULLSEYE</th>
            </tr>

            <tr>
              <td class="lpad5">${data['waypoint']['bullseye']['name']}</td>
              <td class="freq">${data['waypoint']['bullseye']|lat_formatter,n}</td>
              <td class="freq">${data['waypoint']['bullseye']|lon_formatter,n}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div style="float: left; width: 2%">&nbsp;</div>

      <div style="float: left; width: 49%;">
        <table style="width:100%; table-layout: fixed">
          <colgroup>
            <col />
            <col />
            <col />
            <col />
            <col />
            <col />
            <col />
            <col />
            <col />
            <col />
          </colgroup>

          <tbody>
            <tr>
              <th colspan=10>RAMROD</th>
            </tr>

            <tr>
              % for elem in data['comms']['ramrod']:
              <td class="freq">${elem}</td>
              % endfor
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <% y_remain -= 10 %>
    <div class="break"></div>

    ## ##########################################################################
    ## WAYPOINTS
    ## ##########################################################################

    <%
    poi = get(data['waypoint'], 'poi', [])
    %>

    <% y_remain -= table_head %>
    <table class="kb-width" style="table-layout: fixed">
      <colgroup>
        <col class="rb2" style="width: 15pt;" />
        <col style="width:30pt" />
        <col />
        <col style="width:45pt" />
        <col style="width:45pt" />
        <col style="width:45pt" />
        <col style="width:45pt" />
        <col style="width:127pt" />
        <col style="width:127pt" />
        <col style="width:50pt" />
        <col style="width:50pt" />
      </colgroup>
      <tbody>
        <tr>
          <th></th>
          <th>ID</th>
          <th>NAME</th>
          <th>ALT</th>
          <th>GS</th>
          <th>TOT</th>
          <th>ACT</th>
          <th>LAT</th>
          <th>LON</th>
          <th>DIST</th>
          <th>TBRG</th>
        </tr>

        <%
        # We increase y_remain 10 to eat into the 20 footer, just so it looks
        # nicer without a big gap
        if ac == "F-14B":
          poi_count = len(poi) # max(len(poi), 4)
          # -20 -10 for break belwo this table, 10 for page spacing below
          wp_rows = math.floor((y_remain+10 - (table_head + table_row_height * poi_count)) / table_row_height)
        elif ac == "F-16C":
          wp_rows = math.floor((y_remain+10 - (table_head + 4 * table_row_height)) / table_row_height)
        else:
          wp_rows = math.floor((y_remain+10) / table_row_height)

        %>

        % for n in range(wp_rows):
        <tr>
          % if loop.index == 0:
          <th rowspan=${wp_rows} class="block-title"><div style="width: 15pt"><div class="arotate90">WAYPOINTS</div></div></th>
          % endif

          <% elem = get(data['waypoint']['waypoints'], n, {}) %>
          % if elem.get('lat', '') == '' or elem.get('lon') == '':
          <td>&nbsp;</td><td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
          % else:
          <td class="algnc">${get(elem, 'typ')}</td>
          <td class="lpad5">${get(elem, 'name')}</td>
          <td class="algnr">${get(elem, 'alt', '')|alt_formatter}</td>
          <td class="algnc">${get(elem, 'gs', '')}</td>
          <td class="algnc">${get(elem, 'tot', '')}</td>
          <td class="algnc">${elem['act'] if elem['act'] != '00:00' else ''}</td>
          <td class="freq">${elem|lat_formatter,n}</td>
          <td class="freq">${elem|lon_formatter,n}</td>
          <td class="algnr rpad5">${get(elem, 'dist', '')}</td>
          <td class="algnr rpad5">${get(elem, 'tbrg', '')}</td>
          % endif
        </tr>
        % endfor
      </tbody>
    </table>

    ## ##########################################################################
    ## SEQUENCE
    ## ##########################################################################
    % if ac == "F-16C":
    <%
      sequence = get(data['waypoint'], 'sequence', [])
      y_remain -= table_head
    %>
    <div class="break"></div>

    <table class="kb-width" style="table-layout: fixed">
      <colgroup>
        <col class="rb2" style="width: 15pt;" />
        <col style="width:20pt" />
        <col />
        <col style="width:300pt" />
      </colgroup>

      <tbody>
        <tr>
          <th></th>
          <th>ID</th>
          <th>SEQUENCE</th>
          <th>NOTES</th>
        </tr>

        % for elem in sequence:
        <tr>
          
          % if loop.index == 0:
          <th rowspan=${len(sequence)} class="block-title"><div style="width: 15pt"><div class="arotate90">SEQ</div></div></th>
          % endif 

          % if elem:
          <td class="algnc">${elem['id']}</td>
          <td class="algnc">${elem['seq']}</td>
          <td class="lpad5">${elem['notes']}</td>
          % else:
          <td>&nbsp;</td>
          <td></td>
          <td></td>
          % endif

        </tr>
        % endfor

      </tbody>
    </table>
    % endif

    ## ##########################################################################
    ## POI
    ## ##########################################################################

    % if len(poi):
    <% y_remain -= table_head %>
    <div class="break"></div>

    <table class="kb-width" style="table-layout: fixed">
      <colgroup>
        <col class="rb2" style="width: 15pt;" />
        <col />
        <col style="width:110pt" />
        <col style="width:110pt" />
      </colgroup>

      <tbody>
        <tr>
          <th></th>
          <th>NAME</th>
          <th>LAT</th>
          <th>LON</th>
        </tr>

        % for elem in poi:
        <tr>
          
          % if loop.index == 0:
          <th rowspan=${len(poi)} class="block-title"><div style="width: 15pt"><div class="arotate90">POI</div></div></th>
          % endif 

          % if elem:
          <td class="lpad5">${elem['name']}</td>
          <td class="freq">${elem|lat_formatter,n}</td>
          <td class="freq">${elem|lon_formatter,n}</td>
          % else:
          <td>&nbsp;</td>
          <td></td>
          <td></td>
          % endif

        </tr>
        % endfor

      </tbody>
    </table>
    % endif

  </div>

  ## ##########################################################################
  ## PAGE 2
  ## ##########################################################################

  <div class="new-page"></div>
   
  % if output in ['png', 'pngr', 'raw']:
  <div class="kneeboard kneeboard-fixed">
  % else:
  <div class="kneeboard">
  % endif

  <% y_remain = 1200 - 20 - 20 %>

  ## ##########################################################################
  ## HEADING TABLE
  ## ##########################################################################

  <% y_remain -= table_head + table_row_height %>
  <table class="kb-width" style="table-layout: fixed">

    <colgroup>
      <col style="width: 115pt" />
      <col style="width: 70pt" />
      <col style="width: 70pt" />
      % if package:
      <col style="width: 60pt" />
      % endif
      <col />
      <col style="width: 60pt" />
    </colgroup>

    <tbody>

      <tr>
        <th>CALLSIGN</th>
        <th>PRI</th>
        <th>SEC</th>

        % if package:
        <th>PACKAGE</th>
        % endif
        <th>MISSION</th>
        <th>ID</th>
      </tr>
      
      <tr>
        <td class="algnc">${data['mission']['mission-callsign']}</td>
        <td class="freq">${data['mission']['mission-pri-freq']}</td>
        <td class="freq">${data['mission']['mission-sec-freq']}</td>
        % if package:
        <td class="algnc">${data['package']['package-name']}</td>
        % endif
        <td class="lpad5">${data["mission"]['mission-desc']}</td>
        <td class="algnc">${data["mission"]['mission-id']}</td>
      </tr>
    </tbody>
  </table>


  <% y_remain -= 10 %>
  <div class="break"></div>

  ## ##########################################################################
  ## PACKAGE
  ## ##########################################################################

  % if package:

  <% y_remain -= table_head %>
  <table class="kb-width" style="table-layout: fixed">

    <colgroup>
      <col class="rb2" style="width: 15pt;" />
      <col style="width:100pt" />
      <col style="width:140pt" />
      <col style="width:80pt" />
      <col style="width:45pt" />
      <col style="width:45pt" />
      <col style="" />
    </colgroup>

    <tbody>

      <tbody>
        <tr class="nodrag header">
          <th></th>
          <th>CALLSIGN</th>
          <th>AIRCRAFT</th>
          <th>FREQ</th>
          <th>TCN</th>
          <th>IDM</th>
          <th>MISSION</th>
        </tr>


        % for elem in data['package']['members']:
        <% y_remain -= table_row_height %>
        <tr>
            % if loop.index == 0:
            <th rowspan=5 class="block-title"><div style="width: 15pt"><div class="arotate90">PKG</div></div></th>
            % endif

            <td class="">${elem['callsign']}</td>
            <td class="">${elem['aircraft']}</td>
            <td class="freq">${elem['freq']}</td>
            <td class="freq">${elem['tcn']}</td>
            <td class="lpad5">${elem['idm']}</td>
            <td class="">${elem['mission']}</td>
        </tr>
        % endfor
      </tr>
    </tbody>
  </table>

  <% y_remain -= 10 %>
  <div class="break"></div>

  % endif




  ## ##########################################################################
  ## COMMS
  ## ##########################################################################

  <% comms_count = len(data['comms']['agencies']) %>

  % if comms_count:
  <% y_remain -= table_head %>
  <table class="kb-width" style="table-layout: fixed">

    <colgroup>
      <col class="rb2" style="width: 15pt;" />
      <col style="width:205pt" />
      <col style="width:45pt" />
      <col style="width:65pt" />
      <col style="width:50pt" />
      <col style="width:65pt" />
      <col style="width:50pt" />
      <col />
    </colgroup>

    <tbody>


      <tbody>
        <tr class="nodrag header">
          <th></th>
          <th>AGENCY</th>
          <th>TCN</th>
          <th>PRI</th>
          <th>PRI #</th>
          <th>SEC</th>
          <th>SEC #</th>
          <th>NOTES</th>
        </tr>

        % for elem in data['comms']['agencies']:
        <% y_remain -= table_row_height %>
        <tr>
          % if loop.index == 0:
          <th rowspan=${comms_count} class="block-title"><div style="width: 15pt"><div class="arotate90">COMMS</div></div></th>
          % endif

          <td class="">${elem['agency']}</td>
          <td class="freq">${elem['tcn']}</td>
          <td class="freq">${elem['pri']}</td>
          <td class="algnc">${elem['pri_pst']}</td>
          <td class="freq">${elem['sec']}</td>
          <td class="algnc">${elem['sec_pst']}</td>
          <td class="">${elem['notes']}</td>
        </tr>
        % endfor
      </tr>
    </tbody>
  </table>

  <% y_remain -= 10 %>
  <div class="break"></div>
  % endif

  % if len(data['threats']['threats']):

  <% threats_count = max(len(data['threats']['threats']), 4) %>

  <% y_remain -= table_head %>
  <table class="kb-width" style="table-layout: fixed">

    <colgroup>
      <col class="rb2" style="width: 15pt" />
      <col style="width:150pt" />
      <col style="width:45pt" />
      <col style="width:60pt" />
      <col style="width:60pt" />
      <col style="width:60pt" />
      <col style="width:60pt" />
      <col style="width:60pt" />
      <col style="width:60pt" />
      <col />
    </colgroup>

    <tbody>
        <tr class="nodrag header">
          <th></th>
          <th>THREAT</th>
          <th>RWR</th>
          <th>TYPE</th>
          <th>CMS</th>
          <th colspan=2>RNG (nm)</th>
          <th colspan=2>ALT (ft)</th>
          <th>NOTES</th>
        </tr>

        % for n in range(threats_count):
        
        <% elem = get(data['threats']['threats'], n, None) %>
        <% y_remain -= table_row_height %>

        <tr>
          % if loop.index == 0:
          <th rowspan=${threats_count} class="block-title"><div style="width: 15pt"><div class="arotate90">THREATS</div></div></th>
          % endif

          % if elem:
          <td class="lpad5">${elem['threat']}</td>
          <td class="lpad5">${elem['rwr']}</td>
          <td class="lpad5">${elem['type']}</td>
          <td class="lpad5">${elem['cms']}</td>
          <td class="lpad5">${elem['rmin']}</td>
          <td class="lpad5">${elem['rmax']}</td>
          <td class="lpad5">${elem['amin']}</td>
          <td class="lpad5">${elem['amax']}</td>
          <td class="lpad5">${elem['notes']}</td>
          % else:
          <td>&nbsp;</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          % endif

        </tr>
        % endfor
      </tr>
    </tbody>
  </table>

  <% y_remain -= 10 %>
  <div class="break"></div>
  % endif

  <% y_remain -= table_head %>
  <table class="kb-width" style="table-layout: fixed">

    <colgroup>
      <col />
    </colgroup>

    <thead>
        <tr class="nodrag header">
          <th>NOTES</th>
        </tr>
    </thead>
    
    <tbody>
      <tr style="display:none"></tr>
      <tr style="height: ${y_remain}pt; vertical-align:top">
        <td>
          ${data['notes']['html']}
        </td>
      </tr>
    </tbody>
  </table>
</div>
