body {
  width: 780px;
  font-size: 17px;
  line-height: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

/* PADDING */

.lp5 { padding-left: 5px; }
.rp5 { padding-right: 5px; }
.rp2 { padding-right: 2px; }

.lb2 { border-left: 2px solid #000000; }
.rb2 { border-right: 2px solid #000000; }

.pt3 { padding-top: 3px; }

.break{ height: 10px; }

/* TEXT STYLES */

.text-pst { font-size: 13px; }


/* TABLE STYLES */
table.std {
  border-top: 1px solid #000000;
}

table.std td {
  border: 1px solid #000000;
}

table.std tr {
  height: 19px;
}

table.std tr.header {
  height: 18px;
}

table.std-header th,
table.std th {
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  border: 1px solid #000000;
}
