
body {
  color: #000000;
  background: #f4f4f4;
}

.text-bold {
  color: #000000;
}

table.std tr {
  background: #f4f4f4;
}

table.std tr:nth-child(odd) {
  background: #d9d9d9;
}

table.std tr .block-title {
  color: #000000;
}

.bg-blank {
  background: #f4f4f4;
}

table.std-header th,
table.std th {
  color: #000000;
}
