
body {
  color: #ffffff;
  background: #404040;
}

.text-bold {
  color: #ffffff;
  font-weight: normal;
}

table.std tr {
  background: #404040;
}

table.tbl-waypoints tr {
  background: #606060;
}

table tr.tbl-waypoint-fill {
  background: #404040;
}

table.std-striped:not(.std-col) tr:nth-child(even) {
  background: #606060;
}

table.std-col td:nth-child(even) {
  background: #606060;
}

table.std tr .block-title {
  color: #ffffff;
}

.bg-blank {
  background: #404040;
}

table.std-header th,
table.std td.header,
table.std th {
  color: #99aacc;
  background: #000000;
}

.wp-param {
  background: #404040;
  color: #cccccc;
}

.wp-border-top {
  border-top: 2px solid #000000;
}
