body {
  width: 780pt;
  font-size: 16pt;
  line-height: 20pt;
  margin-left: 10pt;
  margin-right: 10pt;
  font-family: "arial-mt";
  font-style: normal;
  font-weight: normal;
  margin-top: 0;
  padding-top: 0;
  word-wrap: break-word;
}

.kb-width { width: 100%; }

/* PADDING */

.lp5 { padding-left: 5pt; }
.rp5 { padding-right: 5pt; }
.rp2 { padding-right: 2pt; }

.lb2 { border-left: 2pt solid #404040; }
.rb2 { border-right: 2pt solid #404040; }
.bb2 { border-bottom: 2pt solid #404040; }
.bt2 { border-top: 2pt solid #404040; }
.bt3 { border-top: 3pt solid #404040; }

.rb0 { border-right: 0 !important; }
.lb0 { border-left: 0 !important; }

.pt3 { padding-top: 3pt; }

.break{ height: 10pt; }

/* TEXT STYLES */

.text-bold { font-weight: bold; }
.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-pst { font-size: 12pt; }
.text-harm { font-size: 12pt; }

.align-top {
  vertical-align: top;
}

.text-bottom {
  line-height: normal;
  vertical-align: bottom;
}

/* TABLE STYLES */

table.std-header,
table.std {
  border-collapse: collapse;
  border: 0;
}

table.std td {
  border: 1pt solid #404040;
}

table.std tr {
  height: 19pt;
}

table.std tr.header {
  height: 18pt;
}

table.std-header th,
table.std td.header,
table.std th {
  font-weight: normal;
  color: #ffffff;
  font-size: 12pt;
  border: 1pt solid #404040;
}

table.std-header th,
table.std th {
  background: #a9a9a9;
}

table.std td.header {
  border-bottom: 2pt solid #404040;
}

.overflow-hidden {
  overflow: hidden;
  word-wrap: nowrap;
  white-space: nowrap;
}
.new-page { page-break-before: always; }

.wp-param {
  font-weight: bold;
  color: #000000;
  font-size: 12px;
  background: #dbdbdb;
}

.wp-border-top { border-top: 2pt solid #404040; }

