
body {
  background: #ffffff;
  color: #000000;
}

.text-bold {
  color: #000000;
}

tr {
  background: #fefefe;
}

tr:nth-child(odd) {
  background: #d9d9d9;
}

tr .block-title {
  background: #ffffff;
  color: #000000;
}

.bg-blank {
  background: #fefefe;
}
