
body {
  background: #101010;
  color: #ffffff;
}

.text-bold {
  color: #f5f5f5;
}

tr {
  background: #262626;
}

tr:nth-child(odd) {
  background: #363636;
}

tr .block-title {
  background: #262626;
  color: #e3e3e3;
  letter-spacing: 2px;
}

.bg-blank {
  background: #101010;
}
