<%
# Header 20
# Table Head 21
# Table Row 19
# Section Spacing 10

import math

table_head = 19
table_row_height = 19

def ntos(n):
  # Get number of DPs
  if not n:
    return ''
  try:
    dp = len(str(n).split('.')[1])
  except:
    dp = 0
  return '{:,.{prec}f}'.format(float(n), prec=dp)

def get(lst, idx, default=None):
  try:
    return lst[idx]
  except (IndexError, KeyError):
    return default

def ll(info, lat=True):

  if not info:
    return ""

  prefix = 'lat' if lat else 'lon'

  if prefix not in info:
    return "&nbsp;"

  try:
    pos = float(info[prefix])
  except Exception as e:
    return info 

  if lat:
      axis = "N" if pos > 0 else "S"
      pad = 2
  else:
      axis = "E" if pos > 0 else "W"
      pad = 3

  # Get Coordinate Format
  coord = info.get(f"{prefix}_fmt", data['flight']['flight-coord'])
  decimals = int(info.get(f"{prefix}_dmp", data['flight']["flight-coord-decimals"]))

  dec_width = 2 + decimals
  if (decimals):
      dec_width += 1

  if coord == 'dd':
    return "{0:.{prec}f}".format(pos, prec=decimals)

  work = abs(pos)
  deg = math.floor(work)

  work -= deg
  work *= 60

  if coord == "ddm":
    return "{} {:0{dpad}d}&deg; {:0{swidth}.{precision}f}'".format(
        axis,
        deg,
        work,
        dpad=pad,
        swidth=dec_width,
        precision=decimals,
    )

  min = math.floor(work)
  work -= min
  work *= 60

  sec = round(work, decimals)

  if sec == 60:
    sec = 0
    min += 1

  if min == 60:
    min = 0
    deg += 1

  return "{} {:0{dpad}d}&deg;{:02d}'{:0{swidth}.{precision}f}\"".format(
      axis,
      deg,
      min,
      sec,
      swidth=dec_width,
      dpad=pad,
      precision=decimals,
  )

def alt_formatter(alt):
  try:
    alt = int(alt)
  except Exception:
    return alt

  if alt > int(data['waypoint']['transition-alt']):
    return 'FL%s' % int(alt/100)
  return str(alt)

def lat_formatter(info):
  return ll(info, True)

def lon_formatter(info):
  return ll(info, False)

data = context['data']
package = data['package']['package-member'] != 'package-false'
ac = data['flight']['flight-airframe']

y_remain = 1200

# Flight Members is variable columns...which sucks to map between, so we have:
# [Title, Col Width, Style]

flight_cols = [
  ["#", 30, "text-center"],
  ["PILOT", 240, "lp5"],
]

if ac == "F-14B":
  flight_cols[1][1] /= 2;
  flight_cols.append(
    ['RIO', 120, "lp5"])

if ac in ["F-14B", "FA-18C"]:
  flight_cols.append(['BORT', 40, "text-center"])

if ac == "A-10C":
  flight_cols.extend([
    ['GID', 40, "text-center"],
    ['OID', 40, "text-center"]])

flight_cols.extend([
  ['TCN', 40, "text-center"],
  ['LSR', 40, "text-center"],
  ['SQUAWK', 50, "text-center"],
  ['NOTES', 0, "lp5"]])

flight_count = len(get(data['flight'], 'members', []))
package_count = len(get(data['package'], 'members', []))

pylons_count = max(len(get(data['loadout'], 'pylons', [])), 9)

wp_count = len(get(data['waypoint'], 'waypoints', []))
poi_count = len(get(data['waypoint'], 'poi', []))
sequence_count = len(get(data['waypoint'], 'sequence', []))

comms_count = len(get(data['comms'], 'agencies', []))
threats_count = len(get(data['threats'], 'threats', []))

# Can we fit on single page ?

# Mandatory Sections
total_y = (
    (table_row_height * (5 + flight_count + pylons_count + wp_count)) +
    (table_head * 6) + 
    50)

if package_count:
  total_y += (table_head + package_count * table_row_height + 10)

if poi_count:
  total_y += (table_head + poi_count * table_row_height + 10)

if sequence_count:
  total_y += (table_head + sequence_count * table_row_height + 10)

if comms_count:
  total_y += (table_head + comms_count * table_row_height + 10)

if threats_count:
  total_y += (table_head + threats_count * table_row_height + 10)

SINGLE_PAGE = total_y < (1200 - 40 - 100)
UNIT = "px" if output in ["png", "pngr", "html"] else "pt"

context['attributes']['pages'] = 1 if SINGLE_PAGE else 2

%><!DOCTYPE html>
<head>
  <title>${data['mission']['mission-id']}</title>
  <link rel="stylesheet" type="text/css" href="mako/${theme}/fonts.css">
  <link rel="stylesheet" type="text/css" href="mako/${theme}/base.css">
  <link rel="stylesheet" type="text/css" href="mako/${theme}/${theme}.css">
  % if UNIT == "px":
  <link rel="stylesheet" type="text/css" href="mako/${theme}/pixel-output.css">
  % endif
</head>
<body>

  <div class="kneeboard">

    ## ##########################################################################
    ## HEADING TABLE
    ## ##########################################################################
    <% y_remain = 1200 - 20 - 20 %>
    <% y_remain -= table_head + table_row_height %>
    <table class="kb-width" style="table-layout: fixed">

      <colgroup>
        <col style="width: 115${UNIT}" />
        <col style="width: 70${UNIT}" />
        <col style="width: 70${UNIT}" />
        % if package:
        <col style="width: 60${UNIT}" />
        % endif
        <col />
        <col style="width: 60${UNIT}" />
      </colgroup>

      <tbody>

        <tr class="header">
          <th>CALLSIGN</th>
          <th>PRI</th>
          <th>SEC</th>

          % if package:
          <th>PACKAGE</th>
          % endif
          <th>MISSION</th>
          <th>ID</th>
        </tr>
        
        <tr>
          <td class="text-center">${data['mission']['mission-callsign']}</td>
          <td class="text-center text-bold">${data['mission']['mission-pri-freq']}</td>
          <td class="text-center text-bold">${data['mission']['mission-sec-freq']}</td>
          % if package:
          <td class="text-center">${data['package']['package-name']}</td>
          % endif
          <td class="lp5">${data["mission"]['mission-desc']}</td>
          <td class="text-center">${data["mission"]['mission-id']}</td>
        </tr>
      </tbody>
    </table>

    ## ##########################################################################
    ## FLIGHT TABLE
    ## ##########################################################################

    <% y_remain -= 10 %>
    <div class="break"></div>

    <% y_remain -= table_head %>
    <table class="kb-width" style="table-layout: fixed">

      <colgroup>
        <col class="rb2" style="width: 15${UNIT};" />
        % for col in flight_cols:
        <col ${ 'style="width: %s%s"' % (col[1] if col[1] else '', UNIT)} } />
        % endfor
      </colgroup>

      <tbody>

        <tr class="header">
          <th></th>
          % for col in flight_cols:
          <th>${ col[0] }</th>
          % endfor
        </tr>

        % for n in range(flight_count if SINGLE_PAGE else 4):
        <% y_remain -= table_row_height %>
        <tr>
          % if n == 0:
          <th rowspan=4 class="block-title"><div style="width: 15${UNIT}"><div class="arotate90">${"FL" if flight_count < 3 else "FLIGHT"}</div></div></th>
          % endif

          <% elem = get(data['flight']['members'], n) %>
          % for col in flight_cols:
          <td ${ 'class="%s"' % col[2] if (col[2] != "") else "" }>${elem[col[0].lower() if col[0] != "#" else "id"] if elem else "&nbsp;" }</td>
          % endfor 

        </tr>
        % endfor
      </tbody>
    </table>

    ## ##########################################################################
    ## PACKAGE ON PAGE 1 (IF SINGLE PAGE)
    ## ##########################################################################

    % if SINGLE_PAGE and package:

    <% y_remain -= 10 %>
    <div class="break"></div>

    <% y_remain -= table_head %>
    <table class="kb-width" style="table-layout: fixed">

      <colgroup>
        <col class="rb2" style="width: 15${UNIT};" />
        <col style="width:100${UNIT}" />
        <col style="width:140${UNIT}" />
        <col style="width:80${UNIT}" />
        <col style="width:45${UNIT}" />
        <col style="width:45${UNIT}" />
        <col style="" />
      </colgroup>

      <tbody>

        <tbody>
          <tr class="header">
            <th></th>
            <th>CALLSIGN</th>
            <th>AIRCRAFT</th>
            <th>FREQ</th>
            <th>TCN</th>
            <th>IDM</th>
            <th>MISSION</th>
          </tr>


          % for elem in data['package']['members']:
          <% y_remain -= table_row_height %>
          <tr>
              % if loop.index == 0:
              <th rowspan=5 class="block-title"><div style="width: 15${UNIT}"><div class="arotate90">${"PK" if package_count < 3 else "PACKAGE"}</div></div></th>
              % endif

              <td class="lp5">${elem['callsign']}</td>
              <td class="lp5">${elem['aircraft']}</td>
              <td class="text-center text-bold">${elem['freq']}</td>
              <td class="text-center text-bold">${elem['tcn']}</td>
              <td class="lp5">${elem['idm']}</td>
              <td class="lp5">${elem['mission']}</td>
          </tr>
          % endfor
        </tr>
      </tbody>
    </table>

    % endif  # Package Page 1

    ## ##########################################################################
    ## DEP / ARR
    ## ##########################################################################

    <% y_remain -= 10 %>
    <div class="break"></div>

    <% y_remain -= table_head %>
    <table class="kb-width" style="table-layout: fixed">

      <colgroup>
        <col class="rb2" class="rb2" style="width: 15${UNIT}" />
        <col style="width: 30${UNIT}" />
        <col />
        <col style="width:40${UNIT}" />
        <col style="width:40${UNIT}" />

        <col style="width:50${UNIT}" />
        <col class="rb2" style="width:45${UNIT}" />

        <col style="width:50${UNIT}" />
        <col class="rb2" style="width:45${UNIT}" />

        <col style="width:50${UNIT}" />
        <col class="rb2" style="width:45${UNIT}" />

        <col style="width:50${UNIT}" />
        <col class="rb2" style="width:45${UNIT}" />

        <col style="width:55${UNIT}" />
      </colgroup>

      <tbody>

        <tr class="header">
          <th></th>
          <th></th>
          <th>LOCATION</th>
          <th>ICAO</th>
          <th>TCN</th>
          <th colspan=2>ATIS</th>
          <th colspan=2>GND</th>
          <th colspan=2>TWR</th>
          <th colspan=2>CTRL</th>
          <th>PAR</th>
        </tr>
        
        % for a in ['dep', 'arr', 'alt']:
        <%
          y_remain -= table_row_height
          elem = data['deparr'][a]
          if get(elem, 'usedep', False):
            elem = data['deparr']['dep']
        %>
        <tr>
          % if loop.index == 0:
          <th rowspan=3 class="block-title"><div style="width: 15${UNIT}"><div class="arotate90">DEP/ARR</div></div></th>
          % endif
          <td class="text-center">${a.upper()}</td>
          <td class="lp5">${get(elem, 'location')}</td>
          <td class="text-center">${get(elem, 'icao')}</td>
          <td class="text-center text-bold">${get(elem, 'tcn')}</td>

          <td class="text-center text-bold rb0">${get(elem, 'atis')}</td>
          <td class="text-center lb0">${get(elem, 'atis-pst')}</td>

          <td class="text-center text-bold rb0">${get(elem, 'gnd')}</td>
          <td class="text-center lb0">${get(elem, 'gnd-pst')}</td>

          <td class="text-center text-bold rb0">${get(elem, 'twr')}</td>
          <td class="text-center lb0">${get(elem, 'twr-pst')}</td>

          <td class="text-center text-bold rb0">${get(elem, 'ctrl')}</td>
          <td class="text-center lb0">${get(elem, 'ctrl-pst')}</td>

          <td class="text-center text-bold">${get(elem, 'par', '')}</td>

        </tr>
        % endfor
      </tbody>
    </table>

    ## ##########################################################################
    ## LOADOUT
    ## ##########################################################################

    <% y_remain -= 10 %>
    <div class="break"></div>

    <% y_remain -= table_head %>
    <table class="kb-width" style="table-layout: fixed; border:0px">
      <colgroup>
        <col class="rb2" style="width: 15${UNIT};" />
        <col style="width:40${UNIT}" />
        <col />
        <col style="width:60${UNIT}" />
        <col style="width:60${UNIT}" />
        <col style="width:60${UNIT}" />
        <col style="width:60${UNIT}" />
        <col style="width:60${UNIT}" />
        <col style="width:60${UNIT}" />
      </colgroup>

      <tbody>
        <tr class="header">
          <th></th>
          <th colspan=3>PYLONS</th>
          <th colspan=2>OTHER</th>
          <th colspan=3>WEIGHT</th>
        </tr>

        % for n in range(pylons_count):
        <%
        y_remain -= table_row_height
        elem = get(data['loadout']['pylons'], n, {})
        %>
        <tr style="border:0">

          % if loop.index == 0:
            <th rowspan="${pylons_count}" class="block-title"><div style="width: 15${UNIT}"><div class="arotate90">PAYLOAD / CMS</div></div></th>
          % endif

          <%
            pyl_store = get(elem, 'store', '') 
            pyl_weight = get(elem, 'weight', 0)
            if not pyl_store:
              pyl_weight = ''
          %>
          <td class="text-center">${get(elem, 'pyl', '')}</td>
          <td class="lp5" style="overflow:hidden; white-space: nowrap">${pyl_store}</td>
          <td class="text-right rp5 rb2">${pyl_weight|ntos}</td>

          % if loop.index == 0:
            <td class="text-center">GUN</td>
            <td class="text-center rb2 text-bold">${data['loadout']['gun']}%</td>
            <td class="lp5">EMPTY</td>
            <td class="text-right rp5" colspan=2>${data['loadout']['weights']['oew']|ntos}</td>
          % elif loop.index == 1:
            <td class="text-center">FUEL</td>
            <td class="text-center rb2 text-bold">${data['loadout']['fuel']}%</td>
            <td class="lp5">STORES</td>
            <td class="text-right rp5" colspan=2>${(data['loadout']['weights']['stores'] + int(data['loadout']['gun_lbs']))|ntos}</td>
          % elif loop.index == 2:
            <td class="text-center">CHAFF</td>
            <td class="text-center rb2">${data['loadout']['chaff']|ntos}</td>
            <td class="lp5">FUEL</td>
            <td class="text-right rp5" colspan="2">${data['loadout']['fuel_lbs']|ntos}</td>
          % elif loop.index == 3:
            <td class="text-center">FLARE</td>
            <td class="text-center rb2">${data['loadout']['flare']|ntos}</td>
            <td class="lp5 text-bold">TOTAL</td>
            <td class="text-right text-bold rp5" colspan=2>${data['loadout']['weights']['total']|ntos}</td>
          % elif loop.index == 4:
            <td class="text-center">JOKER</td>
            <td class="text-center rb2">${data['loadout']['joker']|ntos}</td>
            <td class="bg-blank" colspan=3 rowspan=1 style="border:0;"></td>
          % elif loop.index == 5:
            <td class="text-center">BINGO</td>
            <td class="text-center rb2">${data['loadout']['bingo']|ntos}</td>
            <td class="bg-blank" colspan=3 rowspan=1 style="border:0;"></td>
          % elif loop.index == 6:
            <td class="bg-blank" style="border:0" colspan=2 rowspan=${pylons_count-9} class="lb2"></td>
            <td class="bg-blank" style="border:0" colspan=3 rowspan=${pylons_count-9} class="lb2"></td>
          % elif loop.index == pylons_count-3:
          ## % elif loop.index == 7:
            <td class="bg-blank" style="border:0" colspan=2 rowspan=3 class="lb2"></td>
            <th class="text-center lb2"></th>
            % if 'mtow_cvn' in data['loadout']['weights']:
            <th class="text-center">FIELD</th>
            <th class="text-center">CVN</th>
            % else:
            <th colspan=2 class="text-center">FIELD</th>
            % endif
          % elif loop.index == pylons_count-2:
          ## % elif loop.index == 8:
            <th class="text-center lb2">MAX T/O</th>
            % if 'mtow_cvn' in data['loadout']['weights']:
            <td class="text-right rp5">${data['loadout']['weights']['mtow_field']|ntos}</td>
            <td class="text-right rp5">${data['loadout']['weights']['mtow_cvn']|ntos}</td>
            % else:
            <td colspan=2 class="text-right rp5">${data['loadout']['weights']['mtow_field']|ntos}</td>
            % endif
          ## % elif loop.index == 9:
          % elif loop.index == pylons_count-1:
            <th class="text-center lb2">MAX LDG</th>
            % if 'mtow_cvn' in data['loadout']['weights']:
            <td class="text-right rp5">${data['loadout']['weights']['mlw_field']|ntos}</td>
            <td class="text-right rp5">${data['loadout']['weights']['mlw_cvn']|ntos}</td>
            % else:
            <td colspan=2 class="text-right rp5">${data['loadout']['weights']['mlw_field']|ntos}</td>
            % endif
          % endif

        </tr>
        % endfor

      </tbody>
    </table>
    
    ## ##########################################################################
    ## BULLS / RAMROD
    ## ##########################################################################

    <% y_remain -= 10 %>
    <div class="break"></div>

    <% y_remain -= table_head + table_row_height %>
    <div style="overflow: auto">
      <div style="float: left; width: 49%;">
        <table style="width: 100%; table-layout: fixed">
          <colgroup>
            <col  />
            <col style="width:125${UNIT}"/>
            <col style="width:125${UNIT}"/>
          </colgroup>

          <tbody>
            <tr class="header">
              <th colspan=3>BULLSEYE</th>
            </tr>

            <tr>
              <td class="lp5">${data['waypoint']['bullseye']['name']}</td>
              <td class="text-center text-bold">${data['waypoint']['bullseye']|lat_formatter,n}</td>
              <td class="text-center text-bold">${data['waypoint']['bullseye']|lon_formatter,n}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div style="float: left; width: 2%">&nbsp;</div>

      <div style="float: left; width: 49%;">
        <table style="width:100%; table-layout: fixed">
          <colgroup>
            <col />
            <col />
            <col />
            <col />
            <col />
            <col />
            <col />
            <col />
            <col />
            <col />
          </colgroup>

          <tbody>
            <tr class="header">
              <th colspan=10>RAMROD</th>
            </tr>

            <tr>
              % for elem in data['comms']['ramrod']:
              <td class="text-center text-bold">${elem}</td>
              % endfor
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    ## ##########################################################################
    ## WAYPOINTS
    ## ##########################################################################

    <% y_remain -= 10 %>
    <div class="break"></div>

    <% y_remain -= table_head %>
    <table class="kb-width" style="table-layout: fixed">
      <colgroup>
        <col class="rb2" style="width: 15${UNIT};" />
        <col style="width:30${UNIT}" />
        <col />
        <col style="width:45${UNIT}" />
        <col style="width:45${UNIT}" />
        <col style="width:45${UNIT}" />
        <col style="width:45${UNIT}" />
        <col style="width:127${UNIT}" />
        <col style="width:127${UNIT}" />
        <col style="width:50${UNIT}" />
        <col style="width:50${UNIT}" />
      </colgroup>
      <tbody>
        <tr class="header">
          <th></th>
          <th>ID</th>
          <th>NAME</th>
          <th>ALT</th>
          <th>GS</th>
          <th>TOT</th>
          <th>ACT</th>
          <th>LAT</th>
          <th>LON</th>
          <th>DIST</th>
          <th>TBRG</th>
        </tr>

        <%

        wp_remain = y_remain

        if poi_count:
          wp_remain -= 10 + table_head + poi_count * table_row_height          

        if sequence_count:
          wp_remain -= 10 + table_head + sequence_count * table_row_height          

        # We increase y_remain 10 to eat into the 20 footer, just so it looks
        # nicer without a big gap, excl. F-14 (POI) and F-16 (SEQ) elements

        wp_rows = math.floor((wp_remain + 10)/table_row_height)

        # However if single page, we do the minimum
        if SINGLE_PAGE:
          wp_rows = wp_count

        %>

        % for n in range(wp_rows):
        <% y_remain -= table_row_height %>
        <tr>
          % if loop.index == 0:
          <th rowspan=${wp_rows} class="block-title"><div style="width: 15${UNIT}"><div class="arotate90">${"WAYPTS" if wp_rows < 5 else "WAYPOINTS"}</div></div></th>
          % endif

          <% 
            elem = get(data['waypoint']['waypoints'], n, {})
            gs = float(get(elem, 'gs', 0))
            gs = int(math.ceil(gs / 5)) * 5
            if not gs:
              gs = ''
          %>
          % if elem.get('lat', '') == '' or elem.get('lon') == '':
          <td>&nbsp;</td><td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
          % else:
          <td class="text-center">${get(elem, 'typ')}</td>
          <td class="lp5">${get(elem, 'name')}</td>
          <td class="text-center">${get(elem, 'alt', '')|alt_formatter}</td>
          <td class="text-center">${gs}</td>
          <td class="text-center">${get(elem, 'tot', '')}</td>
          <td class="text-center">${elem['act'] if elem['act'] != '00:00' else ''}</td>
          <td class="text-center text-bold">${elem|lat_formatter,n}</td>
          <td class="text-center text-bold">${elem|lon_formatter,n}</td>
          <td class="text-right rp5">${get(elem, 'dist', '')}</td>
          <td class="text-right rp5">${get(elem, 'tbrg', '')}</td>
          % endif
        </tr>
        % endfor
      </tbody>
    </table>

    ## ##########################################################################
    ## SEQUENCE
    ## ##########################################################################
    % if sequence_count:

    <% y_remain -= 10 %>
    <div class="break"></div>

    <% y_remain -= table_head %>
    <table class="kb-width" style="table-layout: fixed">
      <colgroup>
        <col class="rb2" style="width: 15${UNIT};" />
        <col style="width:20${UNIT}" />
        <col />
        <col />
      </colgroup>

      <tbody>
        <tr class="header">
          <th></th>
          <th>ID</th>
          <th>SEQUENCE</th>
          <th>NOTES</th>
        </tr>

        <%

        %>

        % for elem in get(data['waypoint'], 'sequence', []):
        <% y_remain -= table_row_height %>
        <tr>
          
          % if loop.index == 0:
          <th rowspan=${sequence_count} class="block-title"><div style="width: 15${UNIT}"><div class="arotate90">SEQ</div></div></th>
          % endif 

          % if elem:
          <td class="text-center">${elem['id']}</td>
          <td class="text-center">${elem['seq']}</td>
          <td class="lp5">${elem['notes']}</td>
          % else:
          <td>&nbsp;</td>
          <td></td>
          <td></td>
          % endif

        </tr>
        % endfor

      </tbody>
    </table>
    % endif

    ## ##########################################################################
    ## POI
    ## ##########################################################################

    % if poi_count:

    <% y_remain -= table_head %>
    <div class="break"></div>

    <table class="kb-width" style="table-layout: fixed">
      <colgroup>
        <col class="rb2" style="width: 15${UNIT};" />
        <col />
        <col style="width:110${UNIT}" />
        <col style="width:110${UNIT}" />
      </colgroup>

      <tbody>
        <tr>
          <th></th>
          <th>NAME</th>
          <th>LAT</th>
          <th>LON</th>
        </tr>

        % for elem in get(data['waypoint'], 'poi', []):
        <% y_remain -= table_row_height %>
        <tr>
          
          % if loop.index == 0:
          <th rowspan=${len(poi)} class="block-title"><div style="width: 15${UNIT}"><div class="arotate90">POI</div></div></th>
          % endif 

          % if elem:
          <td class="lp5">${elem['name']}</td>
          <td class="text-center text-bold">${elem|lat_formatter,n}</td>
          <td class="text-center text-bold">${elem|lon_formatter,n}</td>
          % else:
          <td>&nbsp;</td>
          <td></td>
          <td></td>
          % endif

        </tr>
        % endfor

      </tbody>
    </table>
    % endif

  ## ##########################################################################
  ## PAGE 2 IF NOT SINGLE PAGE
  ## ##########################################################################

  % if not SINGLE_PAGE:

  </div>

  <div class="new-page"></div>
   
  <div class="kneeboard">

  <% y_remain = 1200 - 20 - 20 %>

  ## ##########################################################################
  ## HEADING TABLE ON PAGE 2
  ## ##########################################################################

  <% y_remain -= table_head + table_row_height %>
  <table class="kb-width" style="table-layout: fixed">

    <colgroup>
      <col style="width: 115${UNIT}" />
      <col style="width: 70${UNIT}" />
      <col style="width: 70${UNIT}" />
      % if package:
      <col style="width: 60${UNIT}" />
      % endif
      <col />
      <col style="width: 60${UNIT}" />
    </colgroup>

    <tbody>

      <tr class="header">
        <th>CALLSIGN</th>
        <th>PRI</th>
        <th>SEC</th>

        % if package:
        <th>PACKAGE</th>
        % endif
        <th>MISSION</th>
        <th>ID</th>
      </tr>
      
      <tr>
        <td class="text-center">${data['mission']['mission-callsign']}</td>
        <td class="text-center text-bold">${data['mission']['mission-pri-freq']}</td>
        <td class="text-center text-bold">${data['mission']['mission-sec-freq']}</td>
        % if package:
        <td class="text-center">${data['package']['package-name']}</td>
        % endif
        <td class="lp5">${data["mission"]['mission-desc']}</td>
        <td class="text-center">${data["mission"]['mission-id']}</td>
      </tr>
    </tbody>
  </table>

  ## ##########################################################################
  ## PACKAGE ON PAGE 2 (OF SINGLE PAGE, GOES ON P1)
  ## ##########################################################################

  % if package:

  <% y_remain -= 10 %>
  <div class="break"></div>

  <% y_remain -= table_head %>
  <table class="kb-width" style="table-layout: fixed">

    <colgroup>
      <col class="rb2" style="width: 15${UNIT};" />
      <col style="width:100${UNIT}" />
      <col style="width:140${UNIT}" />
      <col style="width:80${UNIT}" />
      <col style="width:45${UNIT}" />
      <col style="width:45${UNIT}" />
      <col style="" />
    </colgroup>

    <tbody>

      <tbody>
        <tr class="header">
          <th></th>
          <th>CALLSIGN</th>
          <th>AIRCRAFT</th>
          <th>FREQ</th>
          <th>TCN</th>
          <th>IDM</th>
          <th>MISSION</th>
        </tr>


        % for elem in data['package']['members']:
        <% y_remain -= table_row_height %>
        <tr>
            % if loop.index == 0:
            <th rowspan=5 class="block-title"><div style="width: 15${UNIT}"><div class="arotate90">PKG</div></div></th>
            % endif

            <td class="">${elem['callsign']}</td>
            <td class="">${elem['aircraft']}</td>
            <td class="text-center text-bold">${elem['freq']}</td>
            <td class="text-center text-bold">${elem['tcn']}</td>
            <td class="lp5">${elem['idm']}</td>
            <td class="">${elem['mission']}</td>
        </tr>
        % endfor
      </tr>
    </tbody>
  </table>

  % endif  # Package

  % endif  # Page 2 Start 

  ## ##########################################################################
  ## COMMS
  ## ##########################################################################

  % if comms_count:

  <% y_remain -= 10 %>
  <div class="break"></div>

  <% y_remain -= table_head %>
  <table class="kb-width" style="table-layout: fixed">

    <colgroup>
      <col class="rb2" style="width: 15${UNIT};" />
      <col style="width:205${UNIT}" />
      <col style="width:45${UNIT}" />
      <col style="width:65${UNIT}" />
      <col style="width:50${UNIT}" />
      <col style="width:65${UNIT}" />
      <col style="width:50${UNIT}" />
      <col />
    </colgroup>

    <tbody>


      <tbody>
        <tr class="header">
          <th></th>
          <th>AGENCY</th>
          <th>TCN</th>
          <th>PRI</th>
          <th>PRI #</th>
          <th>SEC</th>
          <th>SEC #</th>
          <th>NOTES</th>
        </tr>

        % for elem in data['comms']['agencies']:
        <% y_remain -= table_row_height %>
        <tr>
          % if loop.index == 0:
          <th rowspan=${comms_count} class="block-title"><div style="width: 15${UNIT}"><div class="arotate90">${"CM" if comms_count < 2 else "COMMS"}</div></div></th>
          % endif

          <td class="">${elem['agency']}</td>
          <td class="text-center text-bold">${elem['tcn']}</td>
          <td class="text-center text-bold">${elem['pri']}</td>
          <td class="text-center">${elem['pri_pst']}</td>
          <td class="text-center text-bold">${elem['sec']}</td>
          <td class="text-center">${elem['sec_pst']}</td>
          <td class="">${elem['notes']}</td>
        </tr>
        % endfor
      </tr>
    </tbody>
  </table>

  % endif  # COMMS

  ## ##########################################################################
  ## THREATS
  ## ##########################################################################

  % if threats_count:

  <% y_remain -= 10 %>
  <div class="break"></div>

  <%
    if not SINGLE_PAGE:
      threats_count = max(threats_count, 4)
  %>

  <% y_remain -= table_head %>
  <table class="kb-width" style="table-layout: fixed">

    <colgroup>
      <col class="rb2" style="width: 15${UNIT}" />
      <col style="width:150${UNIT}" />
      <col style="width:45${UNIT}" />
      <col style="width:60${UNIT}" />
      <col style="width:60${UNIT}" />
      <col style="width:60${UNIT}" />
      <col style="width:60${UNIT}" />
      <col style="width:60${UNIT}" />
      <col style="width:60${UNIT}" />
      <col />
    </colgroup>

    <tbody>
        <tr class="header">
          <th></th>
          <th>THREAT</th>
          <th>RWR</th>
          <th>TYPE</th>
          <th>CMS</th>
          <th colspan=2>RNG (nm)</th>
          <th colspan=2>ALT (ft)</th>
          <th>NOTES</th>
        </tr>

        % for n in range(threats_count):
        <% y_remain -= table_row_height %>

        <% elem = get(data['threats']['threats'], n, None) %>

        <tr>
          % if loop.index == 0:
          <th rowspan=${threats_count} class="block-title"><div style="width: 15${UNIT}"><div class="arotate90">${"TH" if threats_count < 2 else "THREATS"}</div></div></th>
          % endif

          % if elem:
          <td class="lp5">${elem['threat']}</td>
          <td class="lp5">${elem['rwr']}</td>
          <td class="lp5">${elem['type']}</td>
          <td class="lp5">${elem['cms']}</td>
          <td class="lp5">${elem['rmin']}</td>
          <td class="lp5">${elem['rmax']}</td>
          <td class="lp5">${elem['amin']}</td>
          <td class="lp5">${elem['amax']}</td>
          <td class="lp5">${elem['notes']}</td>
          % else:
          <td>&nbsp;</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          % endif

        </tr>
        % endfor
      </tr>
    </tbody>
  </table>
  % endif

  ## ##########################################################################
  ## NOTES
  ## ##########################################################################

  <% y_remain -= 10 %>
  <div class="break"></div>

  <% y_remain -= table_head %>
  <table class="kb-width" style="table-layout: fixed">

    <colgroup>
      <col />
    </colgroup>

    <thead>
        <tr class="header">
          <th>NOTES</th>
        </tr>
    </thead>
    
    <tbody>
      <tr style="display:none"></tr>
      <tr style="height: ${y_remain}${UNIT}; vertical-align:top">
        <td>
          ${data['notes']['html']}
        </td>
      </tr>
    </tbody>
  </table>
</div>
